/* 
    Document   : bo2
    Created on : 10-feb-2013, 2:06:43
    Author     : nks
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
figure{
    float: left;
}
.error{
    background: none repeat scroll 0 0 #FBE3E4;
    border: 1px solid #FBC2C4;
    color: #8A1F11;
    min-height: 15px;
    margin-left: 30%;
    padding:2px 0;
    text-align: center;
    text-indent: 5px;
    width: 60%;
}
.bo-form{
    border: 1px solid #999999;
    float: left;
    margin: 0 15px 20px 0;
    min-height: 100px;
    min-width: 200px;
    width: 40%;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.bo-form:hover{
    box-shadow: 10px 10px 40px -16px #333;
    /*margin: 0 15px 20px -1px;*/
    margin-top: -2px;        
}
.form-title{
    background: #131361;
    border-radius: 4px 4px 0 0;
    /*color: #fff000;*/
    color : rgb(255,241,0);
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    text-indent: 10px;
    padding: 5px 0;
    width: 100%;
}
.form-item{
    min-height: 20px;
    margin: 10px 0 5px 10px;
    width: 95%;
}
.form-item label{
    display: inline-block;
    width: 30%;
    float: left;
}
.form-item input, .form-item select{
    width: 60%;
}
.form-item input[type='submit']{
    margin-left: 30%;
}
