/*
CSS Document
Proyect: CodeIgniter FrontEnd
Version: 1.0 (17/09/2012)
Autor: Pedro Montero
Team: Pedro Montero (html/css/jquery/php)
Description 
-----------
Ancho Total: 960px
Tipografia : Verdana
Colores    : Gris Opaco: #CCC
*/

* {
	padding: 0;
	margin: 0;
}
a {
	outline: none;
}
img {
	border: 0;
}
ul {
	list-style: none;
}
.clear {
	clear: both;
}
body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}
#login{
	width:230px;
	margin:200px auto auto auto;
	
	border:1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	padding:30px 10px 10px 15px;
}
#login label{
	float:left;
	width:90px;
	height:25px;
	line-height:25px;
	margin:0 0 10px 0;
}
#login input{
	float:left;
	width:120px;
	height:25px;
	line-height:25px;
	color: #333333;
	font-size: 12px;
	
	padding:0 5px;
	margin:0 0 10px 0;
	
	border:1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#login a{
	width:50px;
	height:25px;
	float:right;
	clear:both;
	
	color: #666666;
	font-size: 12px;
	text-align:center;
	line-height:25px;
	text-decoration:none;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	border:1px solid #efefef;
	margin:10px 10px 0 0;
	background:#9CD1E0;
}
#login a:hover{
	color: #FFFFFF;
	background:#55AFCA;
}
#error{
	clear:both;
	text-align:center;
	padding:20px 0 0 0;
}