/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-ago-2014, 13:13:12
    Author     : nfredes
*/


.img-overlay div
{
    position: absolute;
    bottom: 0;
    height: 100px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    width: 100%;
}
.img-overlay div p
{
      margin: 50px auto 0;
      text-align: center;
}
.img-overlay div p.cargo
{
    font-size: 10px;
    margin-top: 20px;
}
/*#conquis_logo_home{
    float: right;
    margin: 35px auto 0;
}*/

#conquis_logo_home{
    margin: 0 auto;
    width: 70%;
}

@media all and (max-width: 1000px){
    #logo-header{
        width:100px;
    }
}

@media all and (max-width: 400px){
    #logo-header{
        margin: 0 25%;
        width:90px;
    }
}